<app-header>  </app-header>
<provider-reason></provider-reason>
<div>Ne-am făcut temele și am aflat care sunt nemulțumirile și dorințele consumatorilor atunci când optează pentru serviciile producătorilor locali: lipsa unei baze de date la care sa aibă 
  acces rapid și care sa înglobeze totalitatea furnizorilor locali, informații inexistente sau incomplete privind produsele și activitatea prestatorilor (preț, condiții, calificative oferite de 
  alți consumatori), dificultatea de a-i localiza. IZI este platforma dezvoltată pentru a diminua considerabil toate aceste insatisfacții prin funcționalitățile de care dispune: </div>
  <div class="benefits">
    <ul>
      <li>Posibilitatea de a acorda calificative de seriozitate clienților 
        ce beneficiază de servicii;</li>
        <li>Căutare și filtrare rapidă a informațiilor;
          </li>
          <li>Sistem de plată integrat;</li>
          <li>Transparența comisioanelor practicate de platformă;
          </li>
    </ul>
  </div>
  <app-register-form></app-register-form>
  <app-footer></app-footer>