<div class=" provider ">
        <div class="provider-picture ">
            <img class="provider-image " src="icons/provider.png ">
        </div>
        <div class="provider-details ">
            <div class="provider-name "> Ioana Avram
                <div class="provider-raiting ">
                    <span class="fa fa-star " data-rating="1 "></span>
                    <span class="fa fa-star " data-rating="2 "></span>
                    <span class="fa fa-star " data-rating="3 "></span>
                    <span class="fa fa-star-o " data-rating="4 "></span>
                    <span class="fa fa-star-o " data-rating="5 "></span>
                    <input type="hidden " name="whatever1 " class="rating-value " value="2.56 ">
                </div>
            </div>
            <div class="d-flex align-items-center ">
                <div class="provider-specialty "> Salata de legume de gradina</div>
                <div class="provider-price ">12 lei buc</div>
            </div>
        </div>
    </div>