<div class="reason-provider ">
    <div class="provider-title "> Devino furnizor de servicii. E simplu!</div>
    <div class="provider-sub-title ">Platforma IZI îți aduce un venit lunar extra, ușor și fără stres.</div>
    <div class="reasons-container ">
        <div class="reason-border reason-container ">
            <div class="reason-image-container ">
                <img class="reason-img " src="icons/svg/izi_inscriere.svg " onerror="this.src='icons/reason1.png'
                    " srcset="icons/reason1@2x.png 2x, icons/reason1@3x.png 3x ">
            </div>
            <div class="reason-text ">Te înscrii GRATUIT</div>
        </div>
        <div class="reason-separator "></div>

        <div class="reason-border reason-container ">
            <div class="reason-image-container ">
                <img class="reason-img " src="icons/svg/izi_calendar.svg " onerror="this.src='icons/reason2.png'
                    " srcset="icons/reason2@2x.png 2x, icons/reason2@3x.png 3x ">
            </div>

            <div class="reason-text ">Îți selectezi singur clienții</div>
        </div>
        <div class="reason-separator "></div>

        <div class=" reason-border reason-container ">
            <div class="reason-image-container ">
                <img class="reason-img " src="icons/svg/izi_user stele.svg " onerror="this.src='icons/reason3.png'
                    " srcset="icons/reason3@2x.png 2x, icons/reason3@3x.png 3x ">
            </div>
            <div class="reason-text ">Ai vizibilitate si faci mult mai ușor rost de clienti</div>
        </div>
        <div class="reason-separator "></div>

        <div class="reason-border reason-container ">
            <div class="reason-image-container ">
                <img class="reason-img " src="icons/svg/izi_currency.svg " onerror="this.src='icons/reason4.png'
                    " srcset="icons/reason4@2x.png 2x, icons/reason4@3x.png 3x ">
            </div>
            <div class="reason-text ">Ai un venit extra</div>
        </div>

        <div class="reason-separator "></div>

        <div class="reason-border reason-container ">
            <div class="reason-image-container ">
                <img class="reason-img " src="icons/svg/izi_shield.svg " onerror="this.src='icons/reason5.png' ">
            </div>
            <div class="reason-text ">Lucrezi intr-un mediu profesionist</div>
        </div>
        <div class="reason-separator "></div>

        <div class=" reason-container ">
            <div class="reason-image-container ">
                <img class="reason-img " src="icons/svg/izi_izi happy.svg " onerror="this.src='icons/reason6.png'
                    " srcset="icons/reason6@2x.png 2x, icons/reason6@3x.png 3x ">
            </div>
            <div class="reason-text ">Faci ce știi și ce îți place</div>
        </div>
    </div>
    <div class="details-btn ">
        <button class="provider-details-btn btn ">Vreau mai multe detalii</button>
    </div>
</div>