<footer>
        <section class="large-section ">
             <img class="logo-footer " src="icons/svg/logo-footer-13.svg " />
             <div>
                 <span class="adres-details ">S.C. Asociatia IZI SRL</span>
                 <span class="adres-details ">CIF 1314141231</span> 
                 <span class="adres-details ">Iasi strada Arcu nr 30 A</span> 
                 <span class="adres-details ">telefon: 0322 10 10 10</span>
             </div>
        
         </section>
     <section class="small-section ">
       <ul>
              <li><a href="# " class="footer-links ">Despre Izi</a></li>
             <li> <a href="# " class="footer-links ">Cariere</a></li>
             <li> <a href="# " class="footer-links ">Contacteaza-ne</a></li>
             <li> <a href="# " class="footer-links ">Termeni si conditii</a></li>
               </ul>
          </section>
        <section class="small-section ">
             <ul>
                 <li> <a href="# " class="footer-links ">Ajutor</a></li>
             <li><a href="# " class="footer-links ">Intrebari frecvente</a></li>
             <li><a href="# " class="footer-links ">Knowledge basis</a></li>
            <li> <a href="# " class="footer-links ">ANPC</a></li>
             </ul>
             
         </section>
         <section class="large-section ">
         <div class="login-section ">
             <div class="create-client ">
                 <div class="d-flex align-items-center ">
                     <a href="/signup " class="create-account ">  <svg version="1.1 " class="footer-login-icon " id="logClient
                         " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px "
      viewBox="0 0 21 21 " style="enable-background:new 0 0 21 21; " xml:space="preserve ">
 <style type="text/css ">
     .st0{fill:#FC5012;}
     .st1{fill:#FFFFFF;}
     .st2{fill:#7D7D7D;}
 </style>
 <g>
     <path class="st0 " d="M10.8,0.5c-2.6,0-4.7,2.1-4.7,4.7s2.1,4.7,4.7,4.7s4.7-2.1,4.7-4.7S13.3,0.5,10.8,0.5L10.8,0.5z
                         M10.8,9.3 c-2.3,0-4.1-1.8-4.1-4.1c0-2.3,1.9-4.1,4.1-4.1c2.3,0,4.1,1.8,4.1,4.1C14.9,7.5,13,9.3,10.8,9.3L10.8,9.3z "/>
     <path class="st0 " d="M10.5,10.2c-5.5,0-10,4.5-10,10c0,0.2,0.1,0.3,0.3,0.3S1,20.4,1,20.2c0-5.2,4.3-9.5,9.5-9.5 c5.2,0,9.5,4.3,9.5,9.5c0,0.2,0.1,0.3,0.3,0.3s0.3-0.1,0.3-0.3C20.5,14.7,16,10.2,10.5,10.2L10.5,10.2z "/>
 </g>
 </svg> <span>Crează cont client</span></a></div></div>
 
             <div class="create-provider ">
             <div class="d-flex align-items-center ">
                    
             <svg version="1.1 " class="footer-login-icon " id="logProvider " xmlns="http://www.w3.org/2000/svg
                         " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px "
      viewBox="0 0 30 21 " style="enable-background:new 0 0 30 21; " xml:space="preserve ">
 <style type="text/css ">
     .st0{fill:#FC5012;}
     .st1{fill:#FFFFFF;}
     .st2{fill:#7D7D7D;}
 </style>
 <g>
     <rect x="0.9 " y="17.7 " class="st0 " width="28.3 " height="2.5 "/>
     <path class="st0 " d="M15,1.2c0.5,0,1,0.5,1,1c0,0.3-0.1,0.5-0.3,0.7l-0.7,0.7L14.4,3C14.1,2.7,14,2.5,14,2.2 C14,1.7,14.5,1.2,15,1.2
                         M15,4.5l1.2,0.1c5.5,0.6,9.7,5.5,9.7,11.3H8.1H7.9H7.6H7.3H7H4.3H4c0-5.8,4.2-10.7,9.7-11.3L15,4.5 M15,0.2c-1.1,0-2,0.9-2,2c0,0.6,0.3,1.1,0.6,1.4C7.6,4.3,3,9.6,3,16c0,0.3,0.1,0.7,0.1,1h1.2H7h0.3h0.3h0.3h0.2h18.8
                         c0-0.3,0-0.7,0-1c0-6.4-4.6-11.6-10.6-12.3C16.7,3.3,17,2.8,17,2.2C17,1.1,16.1,0.2,15,0.2L15,0.2z "/>
 </g>
 </svg><span>Înregistrează-te ca furnizor de servicii</span></div></div>
 </div>
        </section>
     </footer>