<div class="login-container-modal">
  
        <div class="text-center m-b-md">
        <img class="auth-client-logo" src="/icons/svg/autentificare-client-black.svg" onerror="this.src='/icons/logo.png'" />
            <div class="auth-client-title">Înregistrare</div>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                    <div class="login-form">
                       
                        <a href="/auth/facebook" class="btn btn-block fb-login"><img class="fb-icon" src="/icons/svg/fb-icon.png" /> Înregistrează-te  cu <span class="bold">Facebook</span></a>
                        <a href="/auth/google" class="btn btn-block google-login"><img class="google-icon" src="/icons/svg/google-icon.png" /> Înregistrează-te cu <span class="bold">Google</span> </a>
                       <hr class="separator-signup" data-content="sau"/>
                    </div>
            </div>
        </div> 
</div>